body{
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

#imagem-perfil{
    width:200px;
    height: 200px;
    margin-left: 10px;
    border-radius: 50%;
    border: solid #e48d8a;
    margin-left: 30px;
}
.menu, ul{
    list-style:none;
    padding-right:33px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.barra-lateral{
    background-color: #F6A8A5;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(245, 222, 193);
    position: absolute;
    width: 17%;
    height: 90%;
    padding-top: 100px;
}

.infos{
    position: absolute;
    margin-left: 350px;
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

h1{
    color: #F6A8A5;
}

#icones{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 300px;
    padding: 5px;
}

.infos,ol{
    list-style:lower-alpha;
    margin-top: 30px;
}

.objetivos{
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}

